* {
    padding: 0;
    margin: 0;
}
nav {
    font-weight: bold;
}

#big-wrapper {
    width: 100%;
    height:1000px;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.data {
    height: 40px;
    background-color: gray;
    border-radius: 5px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

#cgpa {
    margin: 0 50px 0 50px;
    padding-top: 100px;
}

.center {
    text-align: center;
}

.header {
    text-align: center;
    color: wheat;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
}

.input-row {
    margin-top : 10px;
}
div.input-group {
    width: 100%;
    border-radius: 5px;
}
input {
    text-align: center;
}